body{
    background-color: #000000 !important;
}
.logo{
    justify-content: center;
}

.sidebar{
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
    color: #c5d1c5;

}

.Sidenavbar hr{
font-weight: 600;
color: #AABAAA ;
}

.sidebar:hover{
background-color: #cc2525;
color: white;

}
